body {
    margin:0px;
    padding:0px;
    background-color:#E94560;
    color: #fff;
}

img {
}

.greeter {
    background-image:url("misc/imgs/me.png");
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
}

.col-centered {
    float:none;
    margin-right:auto;
    margin-left:auto;
}

hr.style8 {
	border-top: 14px solid #8c8b8b;
	border-bottom: 14px solid #fff;
}

.research-itm {
    margin:10px;
}
