---
layout: default
title: Home
css: home.css
---

<div class="container-fluid cover">
    <!-- main container -->
    <div class="row">
        <!-- container with image -->
        <div class="col-sm-4 maxh text-center" style="align-items: center; justify-content: center;">
            <span class="helper"></span>
            <img class="bannerImg" style="vertical-align: middle; max-width: 400px;" src="./assets/images/meOld.png" alt="" width="40%">
        </div>

        <div class="col-sm-8 maxh h-100 info-col">
            <!-- container with buttons -->
            <div class="d-inline-flex">
                <h1>Welcome!</h1>
                <a style="height:min-content; margin: 5px; text-align: center;" href="./assets/papers/officialresume.pdf" class="btn btn-dark">Resume</a>
            </div>
            <p class="text-muted">Email: d.alba.work@gmail.com</p>
            <p class="text-muted">Phone: (901)602-1178</p>

            <hr>
            <a class="" href="#"><h3>My Research</h3></a>
            <div class="row">
                {% for itm in site.data.papers limit:3 %}
                    <div class="d-inline-flex flex-wrap" style="margin: 10px;">
                        <!-- Research Item 1 -->
                        <div class="card research-itm" style="width:18rem;"> <div class="card-body"><h5 class="card-title text-dark">{{ itm.title }}</h5><h6 class="card-subtitle mb-2 text-muted">2-3 months; 2/28/2021</h6><p class="card-text text-dark">{{ itm.abstract }}</p><a href="{{ itm.link }}" class="card-link">View</a></div></div> 
                    </div>
                {% endfor %}
            </div>
            <h2 class="title">Feel free to explore...</h2>
            <hr>
            <div class="row">
                {% for btns in site.data.navlocations %}
                    <a class="btn btn-dark" style="margin:10px;" href="{{ btns.link }}">{{ btns.name }}</a>
                {% endfor %}
            </div>

        </div>
    </div>    
</div>

<script>

</script>