<div class="container-fluid d-flex h-100 flex-column" style="height:100%;">
    <div class="row">
        <div class="col">
            <div class="card" style="width:18rem">
                <div class="card-body">
                    <h5 class="card-title">Sorry!</h5>
                    <h6 class="card-subtitle">Looks like I'm fixing something...</h6>
                    <p class ="card-text">Something went wrong, as things usually do around here! Don't worry though, the website will be up in no-time. If you need to contact me, my info is below!</p>
                    <a href="#" class="card-link">d.alba.work@gmail.com</a>
                </div>
            </div>
        </div>
    </div>

</div>
