html, body{
    overflow-x: hidden;
}

/* Custom Classes */
body {
    margin: 0px;
    padding: 0px;
}

.resume {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
}

.resume .row {
    padding-left: 15px;
    margin: none;
}

.section-info {
    padding-bottom: 5px;
}

.section-info > p, .name > p {
    margin: 0px;
    padding: 0px;
    font-size: 11px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 11px;
}