/* General */
body {
    background-color: #ffffff       ;
    padding: 0px;
    margin: 0px;
    height: 100vh;
}

h1, h2, h3, p {
    font-family: 'Roboto', sans-serif;   
}

/* Custom Classes */
.pd-10 {
    padding: 10px;
}

.mg-10 {
    margin: 10px;
}