<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/atom.css">
        <link rel="stylesheet" type="text/css" href="../css/research.css">
        <title>My Research</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <!-- Sidebar -->
                <div class="col-md-3" style="border-radius:10px; background-color:#fff;">
                    <h4 class="text-dark">Research Interests:</h4>
                    <p class="lead text-dark">
                        Recently I've been very interested in understanding the funamental
                        building-blocks of modern day computers. I've started learning assembly 
                        language with the hopes of someday making my own OS!
                        <br>
                        Besides that, I also find machine-learning, ai, and evolutionary 
                        algorithms to be very interesting. Likewise, I have a fascination for 
                        the topic of physics and its intersection with computer science!
                    </p>
                </div>

                <div class="col">
                   
                    <!-- Research Item 1 -->
                    <div class="d-inline-block research-itm">
                        <p class="lead">Theoretically modelling a projectile’s force of impact with respect to distance</p>
                        <a href="../uploads/ri1.pdf" class="btn btn-primary">View</a>
                    </div>

                    <!-- Research Item 2 -->
                    <div class="d-inline-block research-itm">
                        <p class="lead">To what extent can machine learning decrease the expensive nature of Genetic Algorithms when solving atypical optimization problems?</p>
                        <a href="../uploads/expensive_java.pdf" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>
