<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/atom.css">
    </head>
    <body>
        
        <!-- Example Research Container -->
        <div class="card research-itm" style="width:18rem;">
            <div class="card-body">
                <h5 class="card-title text-dark">
                    <!-- (title start) -->
                    Theoretically modelling a projectile's force of impact
                    with respect to distance.
                    <!-- (title end) -->
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <!-- (duration start) -->2-3 months<!-- (duration end) -->; <!-- (date start) -->2/13/2021<!-- (date end) -->
                </h6>
                <p class="card-text text-dark">
                    <!-- (abstract start) -->
                    It is evident that from the evidence, the projectile's force of impact
                    <!-- (abstract end) -->
                </p>
                <!-- link start -->
                <a href="#" class="card-link">View</a>
                <!-- link end -->
            </div>
        </div>
         
        
        
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>
